/*
headergreen: #BEBC48
purple: #570946
*/

html {
  overflow-x: hidden;
}

body {
  font-family: magnat;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
  color: #570946;
}

/*HEADER*/

.header {
  background-color: #bebc48;
  height: 15vh;
  width: 100vw;
  display: flex;
  min-height: 100px;
}

.home,
.about,
.offer,
.contact,
.references {
  width: 100vw;
  display: flex;
}

.header-left,
.header-right {
  height: 100%;
  width: 50vw;
}

.header-left {
  text-align: left;
  display: flex;
  align-items: center;
}

.logo {
  width: 35%;
  margin-top: 2%;
  margin-left: 5%;
  min-width: 180px;
}

.logo-bully {
  width: 12%;
  margin-left: -2%;
  margin-top: -6%;
  min-width: 70px;
}

.nav-tgl {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  right: 30px;
  top: 30px;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
  line-height: 0.6;
  text-align: center;
}

.nav-tgl > span {
  display: inline-block;
  position: relative;
  height: 2px;
  width: 34px;
  border-radius: 1px;
  background: #293335;
  vertical-align: middle;
}

.nav-tgl > span:before, .nav-tgl > span:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  border-radius: 1px;
  background: #293335;
  transition: all 200ms;
}

.nav-tgl > span:before {
  top: -11px;
  left: 3px;
  width: 28px;
}

.nav-tgl > span:after {
  top: 11px;
  left: 6px;
  width: 22px;
}

.nav-tgl:focus {
  outline: none;
}

.nav-tgl:hover > span:after, .nav-tgl:hover > span:before {
  width: 34px;
  left: 0;
}

.nav-tgl.toggled > span {
  height: 0;
}

.nav-tgl.toggled > span:after, .nav-tgl.toggled > span:before {
  top: 0px;
  left: 0;
  width: 34px;
}

.nav-tgl.toggled > span:after {
  transform: rotate(-45deg);
}

.nav-tgl.toggled > span:before {
  transform: rotate(45deg);
}

.nav:before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100vw;
  height: 100vh;
  background: rgba(190, 188, 72, 1);
  transition: all 500ms ease-in-out;
  clip-path: circle(30px at calc(100% - 65px) 65px);
  visibility: hidden;
  z-index: 3;
}

.active.nav:before {
  visibility: visible;
  display: block;
  clip-path: circle(100%);
}

.nav ul {
  display: none;
}

.display-block ul {
  display: flex;
  z-index: 1;
  flex-direction: column;
  list-style: none;
  font-size: 50px;
  padding: unset;
  position: fixed;
  width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

/*Makes Burger only visible 700px or less*/

@media (min-width: 700px) {
  .nav-tgl {
    display: none;
  }

  .nav:before {
    display: none;
  }
}

@media (max-width: 700px) {
  .nav-desktop {
    display: none;
  }
}

/*HOME*/

.home {
  height: 85vh;
}

.home-left {
  height: 100%;
  width: 50vw;
  overflow-x: hidden;
}

.home-left::-webkit-scrollbar { 
  width: 0 !important 
}

.text-container {
  width: 60%;
  margin-left: 22%;
}

.anliegen {
  margin: 0 auto;
  margin-top: 20px;
}

.home-left h2 {
  margin-top: 50px;
  font-size: 30px;
}

.home-left h3 {
  font-weight: 400;
  font-size: 18px;
  margin-top: -10px;
  margin-bottom: 40px;
  font-weight: 500;
}

.introduction {
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
}

.home-right {
  min-height: 100%;
  width: 50vw;
  background: url("./img/portrait-cropped.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 2vh;
  font-size: 30px;
  font-weight: 100;
}

.header a {
  text-decoration: none;
  color: #6f1952;
}

.door-img {
  width: 30%;
  height: 36%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-top: 10px;
}

.contact-door {
  display: flex;
  width: 50%;
  margin: 5% 0 5% 18%;
}

.contact-button {
  background-color: #6f1952;
  color: white;
  width: 12vw;
  height: 4.5vw;
  font-size: 22px;
  display: flex;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.contact-button a {
  color: white;
  line-height: 1.5;
}

.signature {
  float: right;
  margin-right: 10%;
}

/*Home Media Queries*/

@media (min-width: 1391px) and (max-width: 1620px) {
  .text-container {
    width: 70%;
    margin-left: 20%;
  }
}

@media (min-width: 1216px) and (max-width: 1390px) {
  .text-container {
    width: 80%;
    margin-left: 10%;
  }
}

@media (min-width: 1166px) and (max-width: 1215px) {

  .text-container {
    width: 80%;
    margin-left: 10%;
  }
  
  .contact-button {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
}

@media (max-width: 1165px) {

  .text-container {
    width: 82%;
    margin-left: 10%;
  }
}

@media (max-width: 900px) {
  .text-container h2 {
    margin-top: 20px;
  }

  .contact-button {
    font-size: 16px;
    margin-bottom: 10px;
    width: 15vw;
    height: 6vw;
  }

}

/*OFFER Component*/

.offer {
  display: flex;
  flex-direction: column;
}

.offer-intro {
  width: 50vw;
  font-size: 18px;
  margin: 0 auto;
  text-align: left;
}

.offer-outro {
  width: 75vw;
  margin-left: 25vw;
  display: flex;
}

.offer-outro-text {
  width: 50vw;
  font-size: 18px;
  text-align: left;
}

.offer-points {
  margin-bottom: 30px;
  font-size: 18px;
}

.brain-button-div {
  width: 17vw;
  margin-top: -10%;
}

.img-brain {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  float: right;
  margin-right: 8%;
  margin-bottom: -4%;
}

.coaching-button {
  background-color: #6f1952;
  color: white;
  width: 17vw;
  height: 55px;
  font-size: 25px;
  display: flex;
  font-weight: 100;
  justify-content: center;
  padding: 5px;
}

.green-boxes-container {
  display: flex;
  justify-content: space-between;
  width: 98vw;
  flex-wrap: wrap;
  margin: 40px auto;
}

.greenbox {
  background-color: #f1f3cc;
  width: 15%;
  text-align: left;
  margin-bottom: 20px;
}

.box-title {
  font-size: 22px;
  margin-left: 5%;
}

.box-text {
  font-size: 17px;
}

.box-text-container {
  width: 90%;
  margin: 0 auto;
}


/*Offer Media Queries*/

@media (min-width: 1351px) and (max-width: 1600px) {
  .coaching-button {
    width: 17vw;
    height: 55px;
    font-size: 22px;
  }
}

@media (max-width: 1350px) {
  .coaching-button {
    height: 65px;
  }

  .greenbox {
    background-color: #f1f3cc;
    width: 31%;
    text-align: left;
    margin-bottom: 20px;
  }

  .green-boxes-container {
    width: 95vw;
  }
}


@media (max-width: 900px) {
  .offer-outro {
    flex-direction: column;
    margin: 0 auto;
    width: 100vw;
  }

  .offer-outro-text {
    margin: 0 auto;
  }

  .brain-button-div {
    width: 25vw;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
  }
  
  .img-brain {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .coaching-button {
    font-size: 22px;
  }
}

@media (max-width: 780px) {
  .brain-button-div {
    flex-direction: column;
  }
  .coaching-button {
    width: 35vw;
    height: 5vw;
    font-size: 20px;
  }
}



@media (max-width: 700px) {
  .greenbox {
    background-color: #f1f3cc;
    width: 45%;
    text-align: left;
    margin-bottom: 20px;
  }

  .green-boxes-container {
    width: 85vw;
  }

  .coaching-button {
    width: 50vw;
    height: 60px;
  }
}

@media (max-width: 500px) {
  .greenbox {
    background-color: #f1f3cc;
    width: 80%;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .green-boxes-container {
    width: 100vw;
    margin-bottom: 50px;
  }
  
}

/*POPUP*/

.about {
  background-color: rgb(32, 32, 32);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.popup {
    background-color: rgb(0, 0, 0, 0.3);
    position: fixed;  
    width: 100vw;  
    height: 100vh;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
  width: 30vw;
  height: 40vw;
  background-color: white;
  border-radius: 8px;
}

.close-modal {
  cursor: pointer;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

.popup-text {
  margin: 0 auto;
  width: 80%;
  margin-top: 25%;
  font-size: 18px;
}

.book-hover:hover {
  cursor: pointer;
}

/*Über mich*/

.about-intro {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  text-align: left;
  font-size: 20px;
}

#more-coaching {
  background-color: #570946;
  display: block;
  width: 500px;
  padding: 8px;
  color: white;
  margin-left: 9.6vw;
}

#more-coaching a {
  color: white;
  text-decoration: none;
}

.aboutme-lower {
  width: 98vw;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  height: 60vh;
  margin-bottom: 30px;
}

.aboutme-lower-left {
  width: 40%;
  background: url("./img/portrait2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.aboutme-lower-right {
  width: 59%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.aboutme-lower-right1 {
  width: 100%;
  background-color: #bebc48;
  margin-bottom: 15px;
}

.aboutme-lower-right2 {
  background-color: #f1f3cc;
  margin-bottom:15px;
}

.aboutme-lower-right3 {
  background-color: #bebc48;
  margin-bottom: 15px;
}

.aboutme-bulletpoint-heading {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.vita {
  text-align: left;
  width: 95%;
  margin: 0 auto;
  font-weight: 100;
}

.year-vita {
  min-width: 100px;
}

.year-vita-last {
  margin-bottom: 20px;
}

.vita-point {
  display: flex;
}

/*REFERENZEN*/

.references {
  display: flex;
  flex-direction: column;
}

.books-container {
  height: 45vh;
  width: 100vw;
  background-color: #570946;
  display: flex;
  color: #f1f3cc;
}

.title-container {
  margin-right: 5%;
  margin-bottom: 3%;
}

.book-titles {
  width: 55vw;
  height: 100%;
  font-size: 26px;
  line-height: 1.5;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.book-img {
  width: 30vw;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.book-img img {
  margin-bottom: 10px;
}

.book-heading {
  width: 15vw;
  height: 100%;
  font-size: 30px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

.year-book {
  min-width: 110px;
}

.person-references {
  color: #570946;
  width: 100vw;
  height: 40vh;
}

.person-references h3 {
  font-size: 35px;
}

.person-references-heading {
  display: flex;
  justify-content: center;
  margin-left: 5vw;
}

.person-references-heading img {
  margin-left: 30px;
}

.references-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95vw;
  margin: 0 auto;
  margin-bottom: 50px;
}

.single-reference {
  width: 30%;
  text-align: left;
  font-size: 20px;
  min-height: 100%;
  line-height: 1.5;
}

.gerd-drawing {
  display: block;
  margin-top: 14%;
  float: right;
  margin-right: 4%;
}

/*CONTACT*/

.contact  {
  display: flex;
  flex-direction: column;
}

.bully-row {
  width: 50vw;
  margin: 0 auto;
}

.pink-bully {
  width: 10%;
  margin-right: 5%;
}

.contact-text {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  flex-wrap: wrap;
}

.contact-text p {
  text-align: left;
}

.contact-text-div {
  width: 30%;
  min-height: 100%;
  line-height: 1.6;
}

.contact-text-div h3 {
  font-size: 35px;
}

.contact-text-div h5 {
  font-size: 25px;
  margin-bottom: 0;
}

/*Media Queries Contact*/

@media (max-width: 1300px) {
  .contact-text {
    width: 75vw;
  }
}

@media (max-width: 1150px) {
  .contact-text {
    font-size: 18px;
  }

  .contact-text-div h3 {
    font-size: 32px;
  }
  
  .contact-text-div h5 {
    font-size: 22px;
  }
}

@media (max-width: 950px) {
  .contact-text-div {
    width: 40%;
  }

  .bully-row {
    width: 70vw;
    margin: 0 auto;
  }
  
  .pink-bully {
    width: 10%;
    margin-right: 5%;
  }
}

@media (max-width: 650px) {
  .contact-text-div {
    width: 70%;
    margin: 0 auto;
    min-height: unset;
    margin-bottom: 50px;
  }

  .contact-text p {
    text-align: center;
  }

  .bully-row {
    width: 90vw;
    margin: 0 auto;
  }
}

/*MEDIA QUERIES GENERAL*/

/*General Resize*/

@media (min-width: 1351px) and (max-width: 1550px) {
  nav {
    font-size: 28px;
  }
}

@media (min-width: 1226px) and (max-width: 1350px) {
  nav {
    font-size: 26px;
  }

  .box-title {
    font-size: 20px;
  }

  .box-text {
    font-size: 16px;
  }
}

@media (min-width: 1151px) and (max-width: 1225px) {
  nav {
    font-size: 24px;
  }

  .box-title {
    font-size: 18px;
  }

  .box-text {
    font-size: 16px;
  }
}

@media (min-width: 1026px) and (max-width: 1150px) {
  nav {
    font-size: 22px;
  }
}

@media (min-width: 926px) and (max-width: 1025px) {
  nav {
    font-size: 19px;
  }
}

@media (min-width: 801px) and (max-width: 925px) {
  nav {
    font-size: 17px;
  }
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    min-height: 150px;
    align-items: center;
    justify-content: center;
  }

  .header-left,
  .header-right {
    height: 50%;
    width: 100vw;
  }

  .header-left {
    justify-content: center;
    height: calc(50%-20px);
    margin-top: 20px;
  }

  nav {
    width: 80vw;
    font-size: 20px;
    margin-top: 15px;
  }

  .logo {
    width: 25%;
    margin: unset;
    min-width: unset;
  }

  .logo-bully {
    width: 12%;
    margin-left: -2%;
    margin-top: -6%;
    min-width: 70px;
    display: none;
  }
}

/*Logo Resize*/

@media (min-width: 951px) and (max-width: 1250px) {
  .logo {
    width: 45%;
  }
  .logo-bully {
    width: 16%;
  }
}

@media (min-width: 801px) and (max-width: 950px) {
  .logo {
    width: 55%;
  }
  .logo-bully {
    width: 18%;
  }
}

@media (max-width: 700px) {
  .logo {
    width: 300px;
    margin-top: 6%;
  }
}