/*
headergreen: #a6ac41
purple: #570946
*/

.App {
  text-align: center;
  color: #570946;
}

.header {
  background-color: #a6ac41;
  height: 15vh;
  width: 100vw;
  display: flex;
}

.home, .about, .offer, .contact, .references {
  height: 85vh;
  width: 100vw;
  display: flex;
}

.header-left, .header-right {
  height: 100%;
  width: 50vw;
}

.header-left {
  text-align: left;
  display: flex;
  align-items: center;
}

.header-left h1 {
  margin-left: 3vw;
  font-family: magnat;
  font-size: 44px;
  line-height: 0.7;
}

.logo-lower {
  font-weight: 100;
  font-size: 28px;
}

.home-left {
  height: 100%;
  width: 50vw;
}

.text-container {
  width: 40vw;
  margin: 0 auto;
}

.anliegen {
  margin: 0 auto;
  margin-top: 20px;
}

.home-left h2 {
  margin-top: 40px;
  font-size: 30px;
}

.home-left h3 {
  font-weight: 400;
  font-size: 16px;
  margin-top: -20px;
  margin-bottom: 40px;
  font-weight: 500;
}

.introduction {
  text-align: left;
}

.home-right {
  height: 100%;
  width: 50vw;
  background: url("https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9");
  background-repeat: no-repeat;
  background-size: cover;
}


nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 3vh;
  font-size: 23px;
  font-family: magnat;
  font-size: 24px;
  font-weight: 100;
}

.header a{
  text-decoration: none;
  color: #570946;
}

.contact-button {
  background-color: #570946;
  color: white;
  width: 12vw;
  height: 70px;
  font-size: 20px;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.contact-button a {
  text-decoration: none;
  color: white;
}